@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

.cursor-context-menu {
  cursor: context-menu;
}

/* Spinner para el ícono de recarga */
.spin { animation: spin 1s linear infinite; }
@keyframes spin { 100% { transform: rotate(360deg); } }
